# Diabetes Analysis

Data Reference: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

In [1]:
import pandas as pd
import numpy as np
import altair as alt

## Summary

## Introduction

## Methods & Results

## Discussion

## Analysis

### Read in and Explore Data

In [2]:
dat = pd.read_csv("../data/raw/diabetes_binary_health_indicators_BRFSS2015.csv")

In [3]:
dat.head()

   Diabetes_binary  HighBP  HighChol  CholCheck  ...  Sex   Age  Education  Income
0              0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     3.0
1              0.0     0.0       0.0        0.0  ...  0.0   7.0        6.0     1.0
2              0.0     1.0       1.0        1.0  ...  0.0   9.0        4.0     8.0
3              0.0     1.0       0.0        1.0  ...  0.0  11.0        3.0     6.0
4              0.0     1.0       1.0        1.0  ...  0.0  11.0        5.0     4.0

[5 rows x 22 columns]

In [4]:
dat.tail()

        Diabetes_binary  HighBP  HighChol  ...   Age  Education  Income
253675              0.0     1.0       1.0  ...   5.0        6.0     7.0
253676              1.0     1.0       1.0  ...  11.0        2.0     4.0
253677              0.0     0.0       0.0  ...   2.0        5.0     2.0
253678              0.0     1.0       0.0  ...   7.0        5.0     1.0
253679              1.0     1.0       1.0  ...   9.0        6.0     2.0

[5 rows x 22 columns]

In [5]:
dat.shape

(253680, 22)

In [6]:
dat.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [7]:
dat.describe

<bound method NDFrame.describe of         Diabetes_binary  HighBP  HighChol  ...   Age  Education  Income
0                   0.0     1.0       1.0  ...   9.0        4.0     3.0
1                   0.0     0.0       0.0  ...   7.0        6.0     1.0
2                   0.0     1.0       1.0  ...   9.0        4.0     8.0
3                   0.0     1.0       0.0  ...  11.0        3.0     6.0
4                   0.0     1.0       1.0  ...  11.0        5.0     4.0
...                 ...     ...       ...  ...   ...        ...     ...
253675              0.0     1.0       1.0  ...   5.0        6.0     7.0
253676              1.0     1.0       1.0  ...  11.0        2.0     4.0
253677              0.0     0.0       0.0  ...   2.0        5.0     2.0
253678              0.0     1.0       0.0  ...   7.0        5.0     1.0
253679              1.0     1.0       1.0  ...   9.0        6.0     2.0

[253680 rows x 22 columns]>

### Data Visualization

## Model Training

### Train Test Split & Cross Validation
Reminder: set.seed(522)

# Logistic Regression

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

train_df, test_df = train_test_split(dat, test_size=0.2, random_state=522)
X_train, y_train = train_df.drop(columns=["Diabetes_binary"]).values, train_df["Diabetes_binary"].values
X_test, y_test = test_df.drop(columns=["Diabetes_binary"]).values, test_df["Diabetes_binary"].values

lr_pipe = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

scores = cross_validate(lr_pipe, X_train, y_train, return_train_score=True)
results = pd.DataFrame(scores)
results.mean()

fit_time       0.223746
score_time     0.009667
test_score     0.863785
train_score    0.863845
dtype: float64

# Linear SVC

In [9]:
from sklearn.svm import LinearSVC

linear_svc_pipe = make_pipeline(StandardScaler(), LinearSVC(max_iter=5000))

scores = cross_validate(linear_svc_pipe, X_train, y_train, return_train_score=True)
results = pd.DataFrame(scores)
results.mean()

fit_time       0.543303
score_time     0.010027
test_score     0.863539
train_score    0.863549
dtype: float64

### Final Test (predict on the testset)

In [12]:
from sklearn.metrics import accuracy_score

lr_pipe.fit(X_train, y_train)
prediction_lr = lr_pipe.predict(X_test)
accuracy_lr = accuracy_score(y_test, prediction_lr)

linear_svc_pipe.fit(X_train, y_train)
prediction_svc = linear_svc_pipe.predict(X_test)
accuracy_svc = accuracy_score(y_test, prediction_svc)
print(f"The accuracy of the Logistic Regression model is {accuracy_lr}")
print(f"The accuracy of Linear SVC model is {accuracy_svc}")

The accuracy of the Logistic Regression model is 0.8627404604225797
The accuracy of Linear SVC model is 0.8632726269315674

### Final Summary